<!DOCTYPE html>
{% extends 'iindexx.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Side</title>
</head>
<body>
<div style="margin-left:150px; margin-top:10px;">
  <div class="col-lg-11">
          <div class="card">
            <div class="card-body">
                <div class="card-title" style="margin-left:300px;"><h4><u>DISPLAY RECIPIENT DETAILS</u></h4></div><br>
			  <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">RECIPIENT NAME</th>
                    <th scope="col">AGE</th>
                    <th scope="col">MOBILE</th>
                    <th scope="col">BLOOD GROUP</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">DATE </th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">PLACE</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">PROFILE IMAGE</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in Recipient %}
                  <tr>
<!--                    <th scope="row">1</th>-->
                    <td>{{i.Recipient_Name}}</td>
                    <td>{{i.R_Age}}</td>
                    <td>{{i.R_Mobile}}</td>
                    <td>{{i.R_Blood_Group}}</td>
                    <td>{{i.R_Quantity}}</td>
                    <td>{{i.R_Date}}</td>
                    <td>{{i.R_Email}}</td>
                    <td>{{i.R_Place}}</td>
                    <td>{{i.R_Address}}</td>
                      <td>
                          <img src="{{i.R_Profile_Image.url}}" width="100px;" height="100px;">
                      </td>
                      <td>
                          <form action="{% url 'edit_recipient' dataid=i.id %}">
                              <button class="btn btn-light px-5">Edit</button>
                          </form>
                      </td>
                      <td>
                          <form action="{% url 'delete_recipient' dataid=i.id %}">
                              <button class="btn btn-light px-5">Delete</button>
                          </form>
                      </td>
                  </tr>
                {% endfor %}
<!--                  <tr>-->
<!--                    <th scope="row">2</th>-->
<!--                    <td>Jacob</td>-->
<!--                    <td>Thornton</td>-->
<!--                    <td>@fat</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">3</th>-->
<!--                    <td colspan="2">Larry the Bird</td>-->
<!--                    <td>@twitter</td>-->
<!--                  </tr>-->
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error');
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{i}}','','success');
            </script>
        {% else %}
            <script>
                swal('{{i}}','','info');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}



</body>
</html>
{% endblock %}