<!DOCTYPE html>
{% extends 'iindexx.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Side</title>
</head>
<body>
<div style="margin-left:150px; margin-top:10px;">
  <div class="col-lg-11">
          <div class="card">
            <div class="card-body">
                <div class="card-title" style="margin-left:300px;"><h4><u>DISPLAY CONTACT DETAILS</u></h4></div><br>
			  <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"> NAME</th>
<!--                    <th scope="col">AGE</th>-->
                    <th scope="col">MOBILE</th>
<!--                    <th scope="col">BLOOD GROUP</th>-->
                    <th scope="col">EMAIL</th>
<!--                    <th scope="col">PLACE</th>-->
                    <th scope="col">ADDRESS</th>
                    <th scope="col"> SUBJECT</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in contact %}
                  <tr>
<!--                    <th scope="row">1</th>-->
                    <td>{{i.Name}}</td>
                    <td>{{i.Mobile}}</td>
                    <td>{{i.Email}}</td>
                    <td>{{i.Address}}</td>
                    <td>{{i.Subject}}</td>
<!--                    <td>{{i.R_Place}}</td>-->
<!--                    <td>{{i.R_Address}}</td>-->
<!--                      <td>-->
<!--                          <img src="{{i.R_Profile_Image.url}}" width="100px;" height="100px;">-->
<!--                      </td>-->
                      <td>
                          <form action="{% url 'delete_contact' dataid=i.id %}">
                              <button class="btn btn-light px-5">Delete</button>
                          </form>
                      </td>
<!--                      -->
                  </tr>
                {% endfor %}
<!--                  <tr>-->
<!--                    <th scope="row">2</th>-->
<!--                    <td>Jacob</td>-->
<!--                    <td>Thornton</td>-->
<!--                    <td>@fat</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">3</th>-->
<!--                    <td colspan="2">Larry the Bird</td>-->
<!--                    <td>@twitter</td>-->
<!--                  </tr>-->
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
</div>





</body>
</html>
{% endblock %}